#main-container {
    margin: 8px;
}
#table-container{
    position: relative;
    width: fit-content;
    z-index: -1;
}
#reading-plan-table {
    border-collapse: collapse;
}
#reading-plan-table th {
    color: black;
}
#reading-plan-table tbody tr {
    color: black;
}
#reading-plan-table tbody td,
#reading-plan-table thead th {
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
}
#reading-plan-table thead th {
    background-color: #e1e1e1;
}
#download-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #616161;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    transform: translateY(-110%);
}
#download-button:hover {
    color: #2639a1;
}
.day-suffix {
    vertical-align: 50%;
    font-size: 10px;
}
.date {
    min-width: 154px;
}
.reading-parts {
    display: inline-block
}