<app-nav-bar />
<div id="main-container">
    <h1>Today's Reading</h1>
    <p id="todays-reading" *ngIf="yearPlan.at(dayOfYear)?.from?.book! !== yearPlan.at(dayOfYear)?.to?.book!">
        <a (click)="scrollToElementWithOffset('today', 70)"><span class="reading-parts">{{
        books.at(yearPlan.at(dayOfYear)?.from?.book!) + " " + (yearPlan.at(dayOfYear)?.from?.chapter!+1) + ":" + (yearPlan.at(dayOfYear)?.from?.verse!+1)}}&nbsp;</span><span class="reading-parts">- {{
        books.at(yearPlan.at(dayOfYear)?.to?.book!) + " " + (yearPlan.at(dayOfYear)?.to?.chapter!+1) + ":" + (yearPlan.at(dayOfYear)?.to?.verse!+1)
    }}</span></a></p>
    <p id="todays-reading" *ngIf="yearPlan.at(dayOfYear)?.from?.book! === yearPlan.at(dayOfYear)?.to?.book!">
        <a (click)="scrollToElementWithOffset('today', 70)"><span class="reading-parts">{{
        books.at(yearPlan.at(dayOfYear)?.from?.book!) + " " + (yearPlan.at(dayOfYear)?.from?.chapter!+1) + ":" + (yearPlan.at(dayOfYear)?.from?.verse!+1)}}&nbsp;</span><span class="reading-parts">- {{
        (yearPlan.at(dayOfYear)?.to?.chapter!+1) + ":" + (yearPlan.at(dayOfYear)?.to?.verse!+1)
    }}</span></a></p>
    <h2 id="reading-plan">Reading Plan</h2>
    <div id="table-container">
        <button id="download-button" (click)="downloadPlan()">download</button>
        <table id="reading-plan-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Reading</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of yearPlan; index as i" [id]=" i === dayOfYear ? 'today' : null">
                    <td class="date" [ngStyle]="{'font-weight': i === dayOfYear ? 'bold' : 'normal'}">{{dates.at(i)?.month}} {{dates.at(i)?.day}}<span class="day-suffix">{{dates.at(i)?.daySuffix}}</span></td>
                    <td *ngIf="b.from.book === b.to.book"
                    [ngStyle]="{'font-weight': i === dayOfYear ? 'bold' : 'normal'}"><span class="reading-parts">{{books.at(b.from.book) + " " + (b.from.chapter + 1) + ":" + (b.from.verse + 1) }}&nbsp;</span><span class="reading-parts">- {{ (b.to.chapter + 1) + ":" + (b.to.verse + 1)}}</span></td>
                    <td *ngIf="b.from.book !== b.to.book"
                    [ngStyle]="{'font-weight': i === dayOfYear ? 'bold' : 'normal'}"><span class="reading-parts">{{books.at(b.from.book) + " " + (b.from.chapter + 1) + ":" + (b.from.verse + 1)}}&nbsp;</span><span class="reading-parts">- {{books.at(b.to.book) + " " + (b.to.chapter + 1) + ":" + (b.to.verse + 1)}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>