<div id="main-page" class="component">
    <h1>Unity in Bible Reading</h1>
    <h3>Reading of the Day</h3>
    <h2>{{todaysReading}}</h2>
    <h4>Reading Plan:</h4>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of yearPlan; index as i">
                <td>{{dates.at(i)}}</td>
                <td *ngIf="b.from.book === b.to.book">{{books.at(b.from.book) + " " + (b.from.chapter + 1) + ":" + (b.from.verse + 1) + " - " + (b.to.chapter + 1) + ":" + (b.to.verse + 1)}}</td>
                <td *ngIf="b.from.book !== b.to.book">{{books.at(b.from.book) + " " + (b.from.chapter + 1) + ":" + (b.from.verse + 1) + " - " + books.at(b.to.book) + " " + (b.to.chapter + 1) + ":" + (b.to.verse + 1)}}</td>
            </tr>
        </tbody>
    </table>
</div>