<div id="nav-bar">
    <div id="nav-bar-top">
        <div id="nav-bar-hamburger-container">
            <img id="nav-bar-hamburger-image" src="hamburger.png" alt="navigation arrow"/>
            <button id="nav-bar-button"></button>
        </div>
        <div id="nav-bar-top-heading-container">
            <p id="nav-bar-top-heading-text">Unity In Bible Reading</p>
        </div>
    </div>
    <!-- This is needed because the nav bar has an absolute position. This nav bar space prevents other elements from being positioned underneath it. -->
    <div id="nav-bar-space"></div>
    <div id="nav-bar-side" class="hide">
        <div id="nav-bar-side-background"></div>
        <a class="nav-bar-link"><p class="nav-h1 nav-bar-text">Introduction</p></a>
        <a class="nav-bar-link"><p class="nav-h2 nav-bar-text">Why Unity In Bible Reading?</p></a>
        <a class="nav-bar-link"><p class="nav-h2 nav-bar-text">How It Was Made</p></a>
        <a class="nav-bar-link"><p class="nav-h2 nav-bar-text">Why Canonical Order?</p></a>
        <a class="nav-bar-link"><p class="nav-h1 nav-bar-text">Today's Reading</p></a>
        <a class="nav-bar-link"><p class="nav-h2 nav-bar-text">Reading Plan</p></a>
        <a class="nav-bar-link"><p class="nav-h1 nav-bar-text">Reading Planner</p></a>
    </div>
</div>