<div id="reading-planner">
    <h1>Reading Planner</h1>
    <summary>
        <p>Lorem ipsum dolor sit amet. Qui deserunt enim et vitae quos et repudiandae illo non quae eveniet ea quod
            aliquid est amet doloremque ea corrupti laborum. Aut eius voluptas ad repellat voluptas ut quidem quos non
            explicabo tempora ea similique placeat sed ratione culpa et provident blanditiis? Et sunt veritatis qui
            consequatur minima cum harum commodi aut fugiat omnis aut nesciunt accusamus.</p>
    </summary>
    <form [formGroup]="applyForm" (submit)="submitForm()">
        <label for="translation">Translation:</label>
        <select id="translation" formControlName="translation">
            <option value="all-translations">All Translations</option>
            <option value="csb">CSB</option>
            <option value="esv">ESV</option>
            <option value="nasb">NASB</option>
            <option value="niv">NIV</option>
            <option value="nkjv">NKJV</option>
            <option value="nlt">NLT</option>
        </select>
        <label for="from-date">From:</label>
        <input type="date" id="from-date" formControlName="fromDate">
        <label for="to-date">To:</label>
        <input type="date" id="to-date" formControlName="toDate">
        <button type="submit" class="primary">Create</button>
    </form>
    <table>
        <tr>
            <th>Date</th>
            <th>Reading</th>
        </tr>
    </table>
</div>