<app-nav-bar></app-nav-bar>
<div id="main-container">
    <h1 id="reading-planner">Reading Planner</h1>
    <summary>
        <p>This tool is intended for additional reading - such as a group study or class. It is highly recommended to follow the reading plan from <a [routerLink]="'/todays-reading'">Today's Reading</a>.</p>
        <p></p>
        <p>When you select a translation, all of the headings for that translation will be used as potential dividing points. For additional information see <a [routerLink]="'/introduction'" fragment="how-it-was-made">How It Was Made</a>.</p>
    </summary>
    <form id="form" [formGroup]="applyForm" (submit)="submitForm()">
        <div id="date-div1">
            <label for="from-date">From:</label>
            <input type="date" id="from-date" formControlName="fromDate">
        </div>
        <div id="date-div2">
            <label for="to-date">To:</label>
            <input type="date" id="to-date" formControlName="toDate">
        </div>
        <div id="from-book-div1">
            <label for="from-book">Start:</label>
            <input type="text" id="from-book" placeholder="Genesis 1:1" formControlName="fromBook" required>
        </div>
        <div id="from-book-div2">
            <label for="to-book">End:</label>
            <input type="text" id="to-book" placeholder="Revelation 22:21" formControlName="toBook" required>
        </div>
        <div id="translation-div">
            <label for="translation">Translation:</label>
            <select id="translation" formControlName="translation">
                <option value="all-translations">All Translations</option>
                <option value="CSB">CSB</option>
                <option value="ESV">ESV</option>
                <option value="NASB">NASB</option>
                <option value="NIV">NIV</option>
                <option value="NKJV">NKJV</option>
                <option value="NLT">NLT</option>
            </select>
        </div>
        <button id="submit-button" type="submit" class="primary">Create</button>
    </form>
    <p *ngIf="errorMessage !== ''" id="error-message">{{errorMessage}}</p>
    <p *ngFor="let planMessage of newPlanMessage" id="new-plan-message">Reading plan for '{{planMessage.value}}' was created!</p>
    <div id="table-container" *ngIf="bibleSchedule.length > 0">
        <button id="download-button" (click)="downloadPlan()">download</button>
        <table id="reading-plan-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Reading</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of bibleSchedule; index as i">
                    <td class="date">{{dates.at(i)?.month}} {{dates.at(i)?.day}}<span class="day-suffix" *ngIf="dates.at(i)?.daySuffix !== undefined">{{dates.at(i)?.daySuffix}}</span> '{{(dates.at(i)?.year! % 1000) % 100}}</td>
                    <td *ngIf="b.wordCount !== -100 && b.from.book === b.to.book"><span class="reading-parts">{{books[b.from.book] + " " + (b.from.chapter + 1) + ":" + (b.from.verse + 1)}}&nbsp;</span><span class="reading-parts">- {{(b.to.chapter + 1) + ":" + (b.to.verse + 1)}}</span></td>
                    <td *ngIf="b.wordCount !== -100 && b.from.book !== b.to.book"><span class="reading-parts">{{books[b.from.book] + " " + (b.from.chapter + 1) + ":" + (b.from.verse + 1)}}&nbsp;</span><span class="reading-parts">- {{books[b.to.book] + " " + (b.to.chapter + 1) + ":" + (b.to.verse + 1)}}</span></td>
                    <td *ngIf="b.wordCount === -100">LEAP DAY</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>