/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
    font-family: Verdana, Arial, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    color:black;
}
// h1,h2,h3,h4,h5,h6,p {
//     color: #333333;
// }